@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Trainers</h1>
    <p class="lead">In the following page you will be able to View, Create, Edit & Delete Trainers</p>
    @Html.ActionLink("Index", "Trainer") 

</div>
